#collapse {
    display: inline-flex;
    width: 100%;
}
.card{
    background-color: transparent;
    border: none;
}
.card-header{
    padding: 0;
    font: 16px 'Asap', sans-serif;
    background-color: #f6f6f6;
    border: transparent;
}

.btn-outline-secondary {
    border-radius: 0;
    font: 16px 'Asap', sans-serif;
    padding: 20px 30px;
    font-weight: 500;
    color: #4d4d4d;

}

.btn-outline-secondary:hover {
     background-color: #ffffff;
    color: #4d4d4d;
     border: #ffffff;
     -webkit-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
     box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);

 }
@media only screen and (max-width: 767px) {
.card-body{
    flex-direction: column;
    width: 100%;
}
}