@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "normalize.css";
@import "collapse.css";
.nav-link {
  color: #4d4d4d;
  font: 16px "Asap", sans-serif;
}
.nav-link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 10px;
  background-color: #4d4d4d;
}
.nav-link:hover:after {
  width: 100%;
}

.main_banner {
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .main_banner {
    padding-top: 95px;
    background-size: 100%;
    background-size: cover;
  }
}
.main_banner .container .row {
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .main_banner .container .row {
    height: 100%;
    display: flex;
    justify-content: center !important;
  }
}
.main_banner .container .row .main_banner_text h1 {
  font: 88px/70px "Asap", sans-serif;
  font-weight: 500;
  color: #4d4d4d;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .main_banner .container .row .main_banner_text h1 {
    font-size: 40px;
  }
}
.main_banner .container .row .main_banner_text p {
  font: 22px "Asap", sans-serif;
  font-weight: 500;
  color: #9a9a9a;
}
@media screen and (max-width: 767px) {
  .main_banner .container .row .main_banner_text p {
    font-size: 18px;
  }
}
.main_banner .container .row .main_banner_text .btn-outline-secondary {
  border-radius: 0;
  font: 16px "Asap", sans-serif;
  padding: 20px 30px;
  font-weight: 500;
  color: #4d4d4d;
}
.main_banner .container .row .main_banner_text .btn-outline-secondary:hover {
  background-color: #ffffff;
  border: #ffffff;
  -webkit-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 320px) {
  .main_banner .container .row .main_banner_text .btn-outline-secondary {
    margin-bottom: 15px;
    background-size: 100%;
  }
}
.main_banner .container .row .luis_man {
  height: 700px;
}
.main_banner .container .row .luis_man img {
  display: block;
}
@media screen and (max-width: 767px) {
  .main_banner .container .row .luis_man img {
    display: none;
  }
}

.know_more {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media screen and (max-width: 767px) {
  .know_more {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.know_more .container .row .know_more_text h3 {
  font: 46px/50px "Asap", sans-serif;
  font-weight: 400;
  color: #7a7a7a;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .know_more .container .row .know_more_text h3 {
    font-size: 30px;
  }
}
.know_more .container .row .know_more_text h3:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin-bottom: 10px;
  background-color: #7a7a7a;
}
.know_more .container .row .know_more_text p {
  font: 16px/25px "Asap", sans-serif;
  color: #7a7a7a;
  height: 120px;
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  .know_more .container .row .know_more_text p {
    font-size: 13px;
  }
}
.know_more .container .row .know_more_text .btn-outline-secondary {
  border-radius: 0;
  font: 16px "Asap", sans-serif;
  padding: 20px 30px;
  font-weight: 500;
  color: #4d4d4d;
}
.know_more .container .row .know_more_text .btn-outline-secondary:hover {
  background-color: #ffffff;
  border: #ffffff;
  -webkit-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
}
.know_more .container .row .know_more_img {
  height: 444px;
}
@media screen and (max-width: 767px) {
  .know_more .container .row .know_more_img {
    padding-top: 55px;
  }
}
.know_more .container .row .know_more_img img {
  display: block;
  width: 100%;
}

.services {
  background-color: #f6f6f6;
  padding-bottom: 110px;
}
@media screen and (max-width: 767px) {
  .services {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.services .container .row {
  width: 100%;
}
.services .container .row h3 {
  font: 46px "Asap", sans-serif;
  color: #787878;
  font-weight: 700;
  letter-spacing: 3px;
}
.services .container .row h3:before {
  content: "";
  display: block;
  margin: auto;
  width: 60px;
  height: 4px;
  margin-bottom: 10px;
  background-color: #7a7a7a;
}
.services .container .row div a {
  display: block;
  opacity: 0.6;
  cursor: pointer;
}
.services .container .row div a .services_img {
  display: block;
  height: 80px;
}
.services .container .row div a .services_img:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.services .container .row div p {
  font: 24px "Asap", sans-serif;
  color: #4d4d4d;
  font-weight: 500;
}

.my_skills {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media screen and (max-width: 767px) {
  .my_skills {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.my_skills .container .row div h3 {
  font: 46px "Asap", sans-serif;
  color: #787878;
  font-weight: 700;
  letter-spacing: 3px;
}
.my_skills .container .row div h3:before {
  content: "";
  display: block;
  margin: auto;
  width: 60px;
  height: 4px;
  margin-bottom: 10px;
  background-color: #7a7a7a;
}
.my_skills .container .row .my_skills_img img {
  height: 310px;
}

.portfolio {
  background-color: #f6f6f6;
  padding-top: 110px;
  padding-bottom: 110px;
}
@media screen and (max-width: 767px) {
  .portfolio {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.portfolio .container .row {
  width: 100%;
}
.portfolio .container .row h3 {
  font: 46px "Asap", sans-serif;
  color: #787878;
  font-weight: 700;
  letter-spacing: 3px;
}
.portfolio .container .row h3:before {
  content: "";
  display: block;
  margin: auto;
  width: 60px;
  height: 4px;
  margin-bottom: 10px;
  background-color: #7a7a7a;
}
.portfolio .container .row .portfolio_img a img {
  height: 300px;
  width: 100%;
}
.portfolio .container .row .portfolio_img a img:hover {
  -webkit-box-shadow: 0px 0px 40px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 40px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 40px -2px rgba(0, 0, 0, 0.4);
}

.testimonials {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media screen and (max-width: 767px) {
  .testimonials {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.testimonials .container .row div h3 {
  font: 46px "Asap", sans-serif;
  color: #787878;
  font-weight: 700;
  letter-spacing: 3px;
}
.testimonials .container .row div h3:before {
  content: "";
  display: block;
  margin: auto;
  width: 60px;
  height: 4px;
  margin-bottom: 10px;
  background-color: #7a7a7a;
}
.testimonials .container .row div .owl_container {
  display: flex;
  justify-content: space-between;
}
.testimonials .container .row .for_carousel {
  border: 1px solid black;
  height: 350px;
  padding-left: 80px;
  padding-right: 80px;
}
@media screen and (max-width: 767px) {
  .testimonials .container .row .for_carousel {
    height: auto;
    padding: 10px;
  }
  .testimonials .container .row .for_carousel .owl_container_img {
    margin-bottom: 10px;
    background-color: #4d4d4d;
  }
}
.testimonials .container .row .for_carousel .owl_carousel .owl_container_text p {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100px;
}
.testimonials .container .row .for_carousel .owl-dots {
  display: flex;
  justify-content: center;
}
.testimonials .container .row .for_carousel .owl-dots .owl-dot {
  height: 16px;
  width: 16px;
  border: 1px solid black;
  margin-right: 3px;
}
.testimonials .container .row .for_carousel .owl-dots .owl-dot:last-child {
  margin-right: 0;
}
.testimonials .container .row .for_carousel .owl-dots .owl-dot.active {
  background-color: black;
}
.testimonials .counter {
  background-color: #f6f6f6;
}
.testimonials .counter .container_counter {
  padding: 65px 0;
  margin-top: 110px;
}
@media screen and (max-width: 767px) {
  .testimonials .counter .container_counter {
    margin-top: 55px;
  }
}
.testimonials .counter .container_counter img {
  width: 80px;
}

footer {
  background-image: url("../images/bgFooter.jpg");
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  footer {
    padding-top: 55px;
    padding-bottom: 15px;
  }
}
footer .container .row div h3 {
  font: 46px "Asap", sans-serif;
  color: #f0f0f0;
  font-weight: 700;
  letter-spacing: 3px;
}
footer .container .row div h3:before {
  content: "";
  display: block;
  margin: auto;
  width: 60px;
  height: 4px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}
footer .container form div div input {
  border: none;
  border-radius: 0;
}
footer .container form div div textarea {
  border: none;
  border-radius: 0;
  height: 210px;
  resize: none;
}
footer .container form .row div button {
  background-color: white;
}
footer .social {
  border-top: 1px solid white;
}
footer .social .social_icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 27px;
  background-color: #fff;
  transition: 0.2s linear;
  text-decoration: none;
  margin-right: 5px;
}
footer .social .social_icon:hover i {
  color: #fff;
  cursor: pointer;
}
footer .social .social_icon i {
  font-size: 15px;
  color: #4d4d4d;
  opacity: 0.9;
}
footer .social .icon-fb:hover {
  background-color: #3b5997;
}
footer .social .icon-tw:hover {
  background-color: #3ec2f3;
}
footer .social .icon-in:hover {
  background-color: #0e76a8;
}
footer .social .icon-gp:hover {
  background-color: #e44c41;
}
footer .social .icon-be:hover {
  background-color: #053eff;
}
footer .social .icon-db:hover {
  background-color: #ea4c89;
}
footer .social div p {
  font-size: 16px;
  color: white;
  font-family: "Asap", sans-serif;
}

.back-to-top {
  width: 47px;
  height: 47px;
  line-height: 47px;
  display: block;
  position: fixed;
  right: 30px;
  background: white;
  bottom: 100px;
  text-align: center;
  color: "Asap", sans-serif;
  z-index: 1;
  -webkit-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
  margin: 10px 20px 10px 0;
}
.back-to-top:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 767px) {
  .back-to-top {
    right: 0px;
    bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
