@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "normalize.css";
@import "collapse.css";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

//@include max-screen(767px) {
//        order: 2;
//      }

$font_family: 'Asap', sans-serif;
$main_font_color: #4d4d4d;


.nav-link {

  color: $main_font_color;
  font: 16px $font_family;

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 10px;
    background-color: $main_font_color;
  }

  &:hover:after {
    width: 100%;
  }
}


.main_banner {
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 100vh;
  @include max-screen(767px) {
    padding-top: 95px;
  }

  .container {
    .row {
      height: 100vh;
      @include max-screen(767px) {
        height: 100%;
      }

      .main_banner_text {

        h1 {
          font: 88px/70px $font_family;
          font-weight: 500;
          color: #4d4d4d;
          text-align: left;
          @include max-screen(767px) {
            font-size: 40px;
          }
        }

        p {
          font: 22px $font_family;
          font-weight: 500;
          color: #9a9a9a;
          @include max-screen(767px) {
            font-size: 18px;
          }
        }

        .btn-outline-secondary {
          border-radius: 0;
          font: 16px $font_family;
          padding: 20px 30px;
          font-weight: 500;
          color: $main_font_color;

          &:hover {
            background-color: #ffffff;
            border: #ffffff;
            -webkit-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);

          }

        }
      }

      .luis_man {
        height: 700px;
        @include max-screen(767px) {
          height: 100vh;

        }

        img {
          display: block;
          @include max-screen(767px) {
            display: none;
            //max-height: 75vh;
          }
        }
      }
    }
  }
}

.know_more {
  padding-top: 110px;
  padding-bottom: 110px;
  @include max-screen(767px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .container {
    .row {
      .know_more_text {

        h3 {
          font: 46px/50px $font_family;
          font-weight: 400;
          color: #7a7a7a;
          text-align: left;
          @include max-screen(767px) {
            font-size: 30px;
          }

          &:before {
            content: "";
            display: block;
            width: 60px;
            height: 2px;
            margin-bottom: 10px;
            background-color: #7a7a7a;
          }
        }

        p {
          font: 16px/25px $font_family;
          color: #7a7a7a;
          @include max-screen(767px) {
            font-size: 13px;
          }
        }

        .btn-outline-secondary {
          border-radius: 0;
          font: 16px $font_family;
          padding: 20px 30px;
          font-weight: 500;
          color: $main_font_color;

          &:hover {
            background-color: #ffffff;
            border: #ffffff;
            -webkit-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 8px 18px 29px 0px rgba(0, 0, 0, 0.1);

          }
        }


      }

      .know_more_img {
        height: 444px;
        @include max-screen(767px) {
          padding-top: 55px;
        }

        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.services {
  background-color: #f6f6f6;

  padding-bottom: 110px;
  @include max-screen(767px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .container {
    .row {
      width: 100%;

      h3 {
        font: 46px $font_family;
        color: #787878;
        font-weight: 700;
        letter-spacing: 3px;

        &:before {
          content: "";
          display: block;
          margin: auto;
          width: 60px;
          height: 4px;
          margin-bottom: 10px;
          background-color: #7a7a7a;
        }
      }

      div {


        a {
          display: block;
          opacity: 0.6;
          cursor: pointer;


          .services_img {
            display: block;
            height: 80px;

            &:hover {
              opacity: 1;
              -webkit-transform: scale(1.2);
              -ms-transform: scale(1.2);
              transform: scale(1.2);
            }
          }
        }

        p {
          font: 24px $font_family;
          color: $main_font_color;
          font-weight: 500;
        }

      }
    }
  }
}

.my_skills {
  padding-top: 110px;
  padding-bottom: 110px;
  @include max-screen(767px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .container {
    .row {
      div {
        h3 {
          font: 46px $font_family;
          color: #787878;
          font-weight: 700;
          letter-spacing: 3px;

          &:before {
            content: "";
            display: block;
            margin: auto;
            width: 60px;
            height: 4px;
            margin-bottom: 10px;
            background-color: #7a7a7a;
          }
        }
      }

      .my_skills_img {
        img {
          height: 310px;
        }
      }
    }
  }
}

.portfolio {
  background-color: #f6f6f6;
  padding-top: 110px;
  padding-bottom: 110px;
  @include max-screen(767px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .container {
    .row {
      width: 100%;

      h3 {
        font: 46px $font_family;
        color: #787878;
        font-weight: 700;
        letter-spacing: 3px;

        &:before {
          content: "";
          display: block;
          margin: auto;
          width: 60px;
          height: 4px;
          margin-bottom: 10px;
          background-color: #7a7a7a;
        }
      }

      .portfolio_img {
        a {
          img {
            height: 300px;
            width: 100%;

            &:hover {
              -webkit-box-shadow: 0px 0px 40px -2px rgba(0, 0, 0, 0.4);
              -moz-box-shadow: 0px 0px 40px -2px rgba(0, 0, 0, 0.4);
              box-shadow: 0px 0px 40px -2px rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
    }
  }
}

.testimonials {
  padding-top: 110px;
  padding-bottom: 110px;
  @include max-screen(767px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .container {
    .row {
      div {
        h3 {
          font: 46px $font_family;
          color: #787878;
          font-weight: 700;
          letter-spacing: 3px;

          &:before {
            content: "";
            display: block;
            margin: auto;
            width: 60px;
            height: 4px;
            margin-bottom: 10px;
            background-color: #7a7a7a;
          }
        }

        .owl_container {
          display: flex;
          justify-content: space-between;
        }
      }

      .hhhhhhh {
        border: 1px solid black;
        height: 350px;
        padding-left: 80px;
        padding-right: 80px;
        @include max-screen(767px) {
          height: auto;
          padding: 10px;
          .owl_container_img {
            margin-bottom: 10px;
            background-color: $main_font_color;
          }
        }

        .owl_container_text {

          p {
            overflow-x: hidden;
            overflow-y: auto;
            height: 100px;
          }
        }

        .owl-dots {
          display: flex;
          justify-content: center;

          .owl-dot {
            height: 16px;
            width: 16px;
            border: 1px solid black;
            margin-right: 3px;

            &:last-child {
              margin-right: 0;
            }

            &.active {
              background-color: black;
            }
          }
        }
      }
    }
  }

  .container-fluid {
    background-color: #f6f6f6;
    padding: 65px 0;
    margin-top: 110px;
    @include max-screen(767px) {
      margin-top: 55px;
    }
    img {
      width: 80px;
    }
  }
}

footer{
  background-image: url("../images/footerBG_03.jpg");
  padding-top: 110px;
  padding-bottom: 110px;
  @include max-screen(767px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .container {
    .row {
      div {
        h3 {
          font: 46px $font_family;
          color: #f0f0f0;
          font-weight: 700;
          letter-spacing: 3px;

          &:before {
            content: "";
            display: block;
            margin: auto;
            width: 60px;
            height: 4px;
            margin-bottom: 10px;
            background-color: #f0f0f0;
          }
        }
      }
    }
  }
}
